.dFrist {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    height: auto;
    padding-top: 1.5%;
    padding-bottom: 2%;
}

.dContent {
    width: 70%;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    font-family: calibri Light;

}

.dTitle {
    justify-content: left;
    align-items: center;
    font-size: 36px;
    font-family: calibri;
    font-weight: 500;
    color: #000000;
    margin-top: 8%;
}

.dSubTitle {
    justify-content: left;
    align-items: center;
    font-size: 16px;
    font-family: calibri Light;
    color: #000000;
    margin-bottom: 1%;
}

.dContentJobMain {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
}

.dContentJob {
    background-color: #ffffff;
    border-radius: 4px;
    width: 100%;
    padding: 2% 2% 2% 2%;
    transition: box-shadow 0.3s ease-in-out;
    border: solid 1px #8b1e8b;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    font-family: calibri Light;
}

.labelFont {
    font-size: 14px;
    font-family: calibri Light;
    font-style: italic;
}

.dBolck {
    display: block;
}

.dflex {
    display: flex;
    margin: 0;
    margin-top: 1%;
    margin-bottom: 1%;
}

.dLineIssue {
    height: 14px;
    margin-left: 5px;
    border-bottom: solid 2px rgb(31, 98, 186);
    ;
    width: 30%;
}

.dLineApprove {
    height: 14px;
    margin-left: 5px;
    border-bottom: solid 2px rgb(31, 98, 186);
    ;
    width: 50%;
}

.dOOO {
    height: 12px;
    width: 12px;
    margin-left: 8px;
    background-color: rgb(31, 98, 186);
    ;
    border-radius: 10px;
    margin-top: 10px;
}

.dblank {
    display: block;
    width: 100%;
    height: 40px;
}

.dtdMid {
    display: flex;
    width: 50%;
}

.dtdFrist {
    display: flex;
    width: 30%;
    font-size: 14px;
    font-family: calibri Light;
    padding: 2%;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
}

.dtdEnd {
    display: flex;
    width: 70%;
    font-size: 14px;
    font-family: calibri Light;
}

.dtdFristE {
    display: flex;
    width: 10%;
    font-size: 14px;
    font-family: calibri Light;
    padding: 2%;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
}

.dtdEndE {
    display: flex;
    width: 70%;
    font-size: 14px;
    font-family: calibri Light;
    align-items: center;
}

.dtdEndENone {
    display: flex;
    width: 20%;
    font-size: 14px;
    font-family: calibri Light;
}

.react-select {
    width: 90% !important;
}

.react-select-control {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.react-select-menu {
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.datepicker-container {
    position: relative;
    display: inline-block;
}

.custom-datepickerPP {
    font-size: 14px;
    font-family: calibri Light;
    padding: 12px 12px 12px 12px;
    /* ปรับตำแหน่งของ icon */
    width: 100%;
    /* ปรับขนาดตามต้องการ */
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.custom-datepickerPPTo {
    font-size: 14px;
    font-family: calibri Light;
    padding: 12px 12px 12px 12px;
    /* ปรับตำแหน่งของ icon */
    width: 100%;
    /* ปรับขนาดตามต้องการ */
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.datepickerPP-icon {
    position: absolute;
    right: -10%;
    /* ปรับตำแหน่งของ icon */
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
    /* สีของ icon */
}

.datepickerPP-iconTo {
    position: absolute;
    right: -10%;
    /* ปรับตำแหน่งของ icon */
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
    /* สีของ icon */
}

.dCenter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-buttonADDPMain {
    background-color: rgb(81, 214, 152);
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin-right: 0.5%;
}

.icon-buttonADDPMain:hover {
    background-color: rgb(50, 179, 115);
    /* สีเมื่อ hover */
}

.icon-buttonADDPMain:focus {
    outline: none;
    /* ลบเส้นโค้งเมื่อไฟล์สี */
}

.icon-buttonADDPMain svg {
    width: 20px;
    height: 20px;
    color: white;
    /* สีของ icon */
}

.icon-buttonSearchP {
    background-color: rgb(89, 172, 210);
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin-right: 0.5%;
}

.icon-buttonSearchP:hover {
    background-color: rgb(55, 110, 136);
    /* สีเมื่อ hover */
}

.icon-buttonSearchP:focus {
    outline: none;
    /* ลบเส้นโค้งเมื่อไฟล์สี */
}

.icon-buttonSearchP svg {
    width: 20px;
    height: 20px;
    color: white;
    /* สีของ icon */
}

.icon-buttonReP {
    background-color: rgb(142, 82, 198);
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin-right: 0.5%;
}

.icon-buttonReP:hover {
    background-color: rgb(83, 49, 114);
    /* สีเมื่อ hover */
}

.icon-buttonReP:focus {
    outline: none;
    /* ลบเส้นโค้งเมื่อไฟล์สี */
}

.icon-buttonReP svg {
    width: 20px;
    height: 20px;
    color: white;
    /* สีของ icon */
}

.grid-containerMain {
    margin: 0 auto;
    padding: 10px;
    max-width: auto;
    max-height: 500px;
    overflow: auto;
}

.table-titleMain {    
    font-size: 24px;
    margin-bottom: 20px;
}

.grid-tableMainP {
    /* width: 2440px; */
    width: 970px;
    border-collapse: separate;
    border-spacing: 0;
    border: none;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(121, 44, 121, 0.1);
    border: 1px solid #cdcbcb;

    /* เพิ่มเงาเพื่อให้ดูสวยงาม */

}

.grid-tableMainP th {
    border: 0px solid #05acb2c9;
    padding: 1%;
    /* text-align: left; */
}

.grid-tableMainP td {
    background-color: #eaf4f6;
    border: 0px solid #c5c5c5;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 8px;
    padding-bottom: 8px;
    /* text-align: left; */
    font-size: 12px;
    font-family: calibri Light;
}

.grid-tableMainP th {
    background-color: #33ced6;
    font-size: 16px;
    font-family: calibri Light;
    color: #ffffff;
}

.icon-buttonEdit {
    background-color: rgb(141, 200, 2);
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    margin-right: 10%;
}

.icon-buttonEdit:hover {
    background-color: rgb(83, 114, 10);
    /* สีเมื่อ hover */
}

.icon-buttonEdit:focus {
    outline: none;
    /* ลบเส้นโค้งเมื่อไฟล์สี */
}

.icon-buttonEdit svg {
    width: 12px;
    height: 12px;
    color: white;
    /* สีของ icon */
}

.icon-buttonDel {
    background-color: rgb(248, 6, 6);
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    margin-right: 0.5%;
}

.icon-buttonDel:hover {
    background-color: rgb(185, 4, 4);
    /* สีเมื่อ hover */
}

.icon-buttonDel:focus {
    outline: none;
    /* ลบเส้นโค้งเมื่อไฟล์สี */
}

.icon-buttonDel svg {
    width: 12px;
    height: 12px;
    color: white;
    /* สีของ icon */
}

.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* ให้ overlay อยู่ด้านบนสุด */
}

/* Modal content */
.ReactModal__Content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    z-index: 1001; /* ให้ content อยู่ด้านบนสุด */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 70%;
    height: auto;
}
.dRigth{
    width: 100%;
    padding: 1%;
    margin-top: -2%;
    justify-items: flex-end;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.dtdMidFP {
    display: flex;
    width: 48%;
}

.dtdMidEP {
    display: flex;
    width: 52%;
}

.dtdFristP {
    display: flex;
    width: 30%;
    font-size: 14px;
    font-family: calibri Light;
    padding: 2%;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
}

.dtdEndP {
    display: flex;
    width: 70%;
    font-size: 14px;
    font-family: calibri Light;
}

.dtdFristEP {
    display: flex;
    width: 22%;
    font-size: 14px;
    font-family: calibri Light;
    padding: 2%;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
}

.dtdEndEP {
    display: flex;
    width: 68%;
    font-size: 14px;
    font-family: calibri Light;
    align-items: center;
}

.dtdEndENoneP {
    display: flex;
    width: 10%;
    font-size: 14px;
    font-family: calibri Light;
}

.dBGPer {
    width: 60%;
    padding: 2%;
    border-radius: 4px;
    background-color: #dadbdc;
}

.dBGPerDetail {
    display: flex;
    padding: 2%;
}

.d40Per {
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1%;
    font-size: 14px;
    font-family: calibri Light;
    margin: 0% 1% 0% 1%;
    background-color: rgba(0, 255, 255, 0.66);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

}

.d20Per {
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1%;
    font-size: 14px;
    font-family: calibri Light;
    margin: 0% 1% 0% 1%;
    background-color: rgba(0, 255, 255, 0.66);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.d40PerDetail {
    width: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-family: calibri Light;
    margin: -1% 1% 0% 1%;
    
}

.d20PerDetail {
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-family: calibri Light;
    margin: -1% 1% 0% 1%;
   
}

.dblankPop {
    display: block;
    width: 100%;
    height: 20px;
}

.custom-buttonPop {
    background-color: #8b1e88; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: calibri Light;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .custom-buttonPop:hover {
    background-color: #571857; /* Darker Green */
  }

  .custom-buttonResetPop {
    background-color: #828282; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: calibri Light;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .custom-buttonResetPop:hover {
    background-color: #cccccc; /* Darker Green */
  }
