.dFristADV {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    height: auto;
    padding-top: 1.5%;
    padding-bottom: 2%;
}

.dContentADV {
    width: 70%;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    font-family: calibri Light;

}

.dTitleADV {
    justify-content: left;
    align-items: center;
    font-size: 36px;
    font-family: calibri;
    font-weight: 500;
    color: #000000;
    margin-top: 8%;
}

.dSubTitleADV {
    justify-content: left;
    align-items: center;
    font-size: 12px;
    font-family: calibri Light;
    color: #000000;
    margin-bottom: 1%;
}

.dContentJobMainADV {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
}

.dContentJobADV {
    background-color: #ffffff;
    border-radius: 4px;
    width: 100%;
    padding: 2% 2% 2% 2%;
    transition: box-shadow 0.3s ease-in-out;
    border: solid 1px #8b1e8b;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    font-family: calibri Light;
}

.labelFontADV {
    font-size: 12px;
    font-family: calibri Light;
    font-style: italic;
    font-weight: bold;
}

.dBolckADV {
    display: block;
}

.dflexADV {
    display: flex;
    margin: 0;
    margin-top: 1%;
    margin-bottom: 1%;
}

.dblankADV {
    display: block;
    width: 100%;
    height: 40px;
}
.dtdMidADV {
    display: flex;
    width: 47%;
}

.dtdMidEADV {
    display: flex;
    width: 53%;
}

.dtdFristADV {
    display: flex;
    width: 35%;
    font-size: 12px;
    font-family: calibri Light;
    padding: 2%;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
}

.dtdEndADV {
    display: flex;
    width: 65%;
    font-size: 12px;
    font-family: calibri Light;
}

.dtdFristEADV {
    display: flex;
    width: 35%;
    font-size: 12px;
    font-family: calibri Light;
    padding: 2%;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
}

.dtdEndEADV {
    display: flex;
    width: 65%;
    font-size: 12px;
    font-family: calibri Light;
}

.dtdEndENoneADV {
    display: flex;
    width: 10%;
    font-size: 12px;
    font-family: calibri Light;
}

.react-selectADV {
    width: 90% !important;
}

.react-selectADV-control {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.react-selectADV-menu {
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.dCenterADV {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-family: calibri Light;
}

.icon-buttonADDADV {
    background-color: #8b1e88; 
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    margin-right: 0.5%;
}

.icon-buttonADDADV:hover {
    background-color: #691767; 
    /* สีเมื่อ hover */
}

.icon-buttonADDADV:focus {
    outline: none;
    /* ลบเส้นโค้งเมื่อไฟล์สี */
}

.icon-buttonADDADV svg {
    width: 15px;
    height: 15px;
    color: white;
    /* สีของ icon */
}


.icon-buttonDELADV {
    background-color: rgb(248, 6, 6); 
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    margin-right: 0.5%;
}

.icon-buttonDELADV:hover {
    background-color: rgb(185, 7, 7); 
    /* สีเมื่อ hover */
}

.icon-buttonDELADV:focus {
    outline: none;
    /* ลบเส้นโค้งเมื่อไฟล์สี */
}

.icon-buttonDELADV svg {
    width: 15px;
    height: 15px;
    color: white;
    /* สีของ icon */
}


.icon-buttonSearchADV {
    background-color: rgb(89, 172, 210);
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin-right: 0.5%;
}

.icon-buttonSearchADV:hover {
    background-color: rgb(55, 110, 136);
    /* สีเมื่อ hover */
}

.icon-buttonSearchADV:focus {
    outline: none;
    /* ลบเส้นโค้งเมื่อไฟล์สี */
}

.icon-buttonSearchADV svg {
    width: 20px;
    height: 20px;
    color: white;
    /* สีของ icon */
}

.icon-buttonReADV {
    background-color: rgb(142, 82, 198);
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin-right: 0.5%;
}

.icon-buttonReADV:hover {
    background-color: rgb(83, 49, 114);
    /* สีเมื่อ hover */
}

.icon-buttonReADV:focus {
    outline: none;
    /* ลบเส้นโค้งเมื่อไฟล์สี */
}

.icon-buttonReADV svg {
    width: 20px;
    height: 20px;
    color: white;
    /* สีของ icon */
}

.grid-containerADV {
    margin: 0 auto;
    padding: 10px;
    max-width: auto;
    max-height: 500px;
    overflow: auto;
}

.table-titleADV {
    font-size: 24px;
    margin-bottom: 20px;
}

.grid-tableADV {
    width: 760px;
    border-collapse: separate;
    border-spacing: 0;
    border: none;
    border-radius: 4px;
    border: 1px solid #514545;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(121, 44, 121, 0.1);
    /* เพิ่มเงาเพื่อให้ดูสวยงาม */

}

.grid-tableADV th {
    border: 0px solid #c5c5c5;
    padding: 2%;
    /* text-align: left; */
}

.grid-tableADV td {
    background-color: #E8E5E8;
    border: 0px solid #c5c5c5;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 8px;
    padding-bottom: 8px;
    /* text-align: left; */
    font-size: 12px;
    font-family: calibri Light;
}

.grid-tableADV th {
    background-color: #DF5E8D;
    font-weight: bold;
    font-size: 12px;
    font-family: calibri Light;
    color: #000;
}

.icon-buttonEditADV {
    background-color: rgb(141, 200, 2);
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    margin-right: 10%;
}

.icon-buttonEditADV:hover {
    background-color: rgb(83, 114, 10);
    /* สีเมื่อ hover */
}

.icon-buttonEditADV:focus {
    outline: none;
    /* ลบเส้นโค้งเมื่อไฟล์สี */
}

.icon-buttonEditADV svg {
    width: 12px;
    height: 12px;
    color: white;
    /* สีของ icon */
}

.icon-buttonDelADV {
    background-color: rgb(248, 6, 6);
    border: none;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    margin-right: 0.5%;
}

.icon-buttonDelADV:hover {
    background-color: rgb(185, 4, 4);
    /* สีเมื่อ hover */
}

.icon-buttonDelADV:focus {
    outline: none;
    /* ลบเส้นโค้งเมื่อไฟล์สี */
}

.icon-buttonDelADV svg {
    width: 12px;
    height: 12px;
    color: white;
    /* สีของ icon */
}

.custom-buttonADV {
    background-color: #8b1e88; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: calibri Light;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .custom-buttonADV:hover {
    background-color: #571857; /* Darker Green */
  }

  .custom-buttonResetADV {
    background-color: #828282; /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: calibri Light;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .custom-buttonResetADV:hover {
    background-color: #cccccc; /* Darker Green */
  }


  .dEmpIDADV {
    width: 10%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-family: calibri Light;
    border-bottom: 1px solid #0f0fbf;
  }

  .dEmpNameADV {
    width: 25%;
    padding: 1%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-family: calibri Light;
    border-bottom: 1px solid #0f0fbf;
  }

  .dEmpLoginADV {
    width: 15%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-family: calibri Light;
    border-bottom: 1px solid #0f0fbf;
  }

  .dEmpStatusADV {
    width: 15%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-family: calibri Light;
    border-bottom: 1px solid #0f0fbf;
  }

  .dAddADV {
    width: 3%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .dAdvisorADV {
    width: 10%;
    padding: 1% 0% 1% 1%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-family: calibri Light;
  }
  .dCountAdvisorADV {
    width: 25%;
    padding: 1% 0% 1% 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-family: calibri Light;
  }

  .dEmpIDDetailADV {
    width: 10%;
    padding: 1%;
    margin-left: -1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-family: calibri Light;
  }

  .dEmpNameDetailADV {
    width: 25%;
    padding: 1%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-family: calibri Light;
  }

  .dEmpLoginDetailADV {
    width: 15%;
    padding: 1%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-family: calibri Light;
  }

  .dEmpStatusDetailADV {
    width: 15%;
    padding: 1%;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-family: calibri Light;
  }

  .dAddDetailADV {
    width: 3%;
    padding: 1% 1% 1% 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
