.hBar {
  width: 100% !important;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #ffffff !important;
  -webkit-box-shadow: 0 1px 5px 0 rgba(21, 24, 26, 0.1) !important;
  box-shadow: 0 1px 5px 0 rgba(21, 24, 26, 0.1) !important;
  z-index: 100 !important;
}

.dBar {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hlogo {
  width: 40px;
  height: 40px;
  margin-right: 2%;
  
}

.dLogo {
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #4F575E !important;
  margin-right: 1% ;
  cursor: pointer;
}

.dMenu {
  width: 80%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 14px;
  font-family: calibri Light;
  color: #4F575E !important;
}

.dUser {
  width: 20%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 14px;
  font-family: Calibri Light, sans-serif;
  color: #4F575E !important;
}

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-title {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.7vh;
  position: relative;
  /* Add relative positioning to the parent */
  line-height: 5.7vh;
  /* Align text vertically */
}

.menu-title:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #8B1E88;
  /* Color of the underline */
}


.submenu {
  position: absolute;
  top: 100%;
  list-style: none;
  padding: 0;
  margin-top: 0.2%;
  background-color: #ffffff;
  border: 1x solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.submenu ul {
  padding-left: 0;
  /* Remove left padding from the <ul> */
}

.menu-child {
  list-style: none;
  padding: 10px;
  margin-left: 0;
  /* Align submenu items to the left */
}

.menu-child:hover {
  background-color: #e0e0e0;
}

.logout-icon {
  color: #8B1E88; /* เปลี่ยนสีไอคอนตามต้องการ */
  width: 16px;
  height: 16px;
}